version: '3.6'
services:
  mongo:
    container_name: ship-mongo
    image: mongo:4.2
    command: --replSet ship-rs --bind_ip_all
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    networks:
      - ship
    ports:
      - 27017:27017
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  mongo-replicator:
    container_name: ship-mongo-replicator
    build: ./mongo-replicator
    environment:
      - HOST=mongo
      - PORT=27017
      - USERNAME=root
      - PASSWORD=root
      - REPLICA_SET_NAME=ship-rs
    networks:
      - ship
    depends_on:
      - mongo
  redis:
    container_name: ship-redis
    image: redis:5.0.5
    command: redis-server --appendonly yes
    hostname: redis
    networks:
      - ship
    ports:
      - 6379:6379
  api:
    container_name: ship-api
    build:
      context: .
      dockerfile: Dockerfile.dev
    networks:
      - ship
    environment:
      APP_ENV: development
      ETHEREUM_BASE_URL: wss://mainnet.infura.io/ws/v3/a925609bdb25477d8039c763faa7b61d
    volumes:
      - ./src:/app/src
    ports:
      - 3001:3001
      - 8082:8082
    depends_on:
      - mongo-replicator
      - redis
      # - geth
  migrator:
    container_name: ship-migrator
    command: npm run migrate
    build:
      context: .
      dockerfile: Dockerfile.dev
    networks:
      - ship
    volumes:
      - ./src:/app/src
    depends_on:
      - mongo-replicator
  scheduler:
    container_name: ship-scheduler
    command: npm run schedule-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    networks:
      - ship
    volumes:
      - ./src:/app/src
    depends_on:
      - mongo-replicator
  # geth:
  #   image: ethereum/client-go:latest
  #   restart: unless-stopped
  #   ports:
  #     - "8545:8545"
  #     - "8546:8546"
  #   logging:
  #     driver: none
networks:
  ship:
    name: ship-network
